h2 Form example
form(method = 'post', action = '/login')
    p 输入你的账号：
        input(type = 'text', placeholder = '123345')
    p 输入你的密码：
        input(type = 'password')
    p
        input(type = 'submit' value = '提交')